<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880915326344-147kiaartvt24q98f30d1r4r1kofhrra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880915326344-147kiaartvt24q98f30d1r4r1kofhrra</string>
	<key>API_KEY</key>
	<string>AIzaSyC2xxOP0RNpOIUqaUEc1Pdu90pdlvPjl_0</string>
	<key>GCM_SENDER_ID</key>
	<string>880915326344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AvlAs.PhotoTest</string>
	<key>PROJECT_ID</key>
	<string>phototestapp-9a03b</string>
	<key>STORAGE_BUCKET</key>
	<string>phototestapp-9a03b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880915326344:ios:a46942ec93d2ad05ea063d</string>
</dict>
</plist>